.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    background-image: url("./slike/Planina-background.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px 3px #ccc;
}
.moja-kolona {
    border: 1px solid red;
}
.moj-red {
    height: 200px;
    border: 1px solid red;
}
@media only screen and (max-width: 1200px) {
    .moj-red {
        height: 300px;
        border: 1px solid red;
    }
}
#lokacija {
    color: whitesmoke;
}
#temperatura {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}