.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    background-image: url("./slike/Plavkasta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px 3px #ccc;
}

.moj-red {
    height: 300px;
   
}



#lokacija {
    color: whitesmoke;
    
}

#temperatura2 {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dugme1 {
    box-shadow: 1px 1px 5px 1px rgb(31, 31, 31);
}
#informacije {
    display: flex;
    margin-left: 20px;

    background-color: transparent;
    text-align: center;
    transition: 0.5s ease-out;
}
